<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Example</title>
<style type="text/css">
    ol {
        list-style-type: none;
    }

    li {
        margin: 10px 0;
    }

    button {
        margin: 3px 0;
    }

    p {
        margin: 2px 0;
    }
</style>
</head>

<body>

{% macro fact(n) %}
    {% if n == 1 %}
        <span>{{ n }}</span>
    {% else %}
        <span>{{ n }} ⋅ {{ fact (n - 1) }}</span>
    {% endif %}
{% endmacro %}

{% macro input(name, value, type) %}
    <input type="{{ type }}" name="{{ name }}" value="{{value}}">
{% endmacro %}


{% macro print_users(users, active) %}
    <ol>

    {% set label = "Deactivate" %}
    {% if not active %}
        {% set label = "Activate" %}
    {% endif %}

    {% for user in users if user.active == active %}
        <li>
            <span>{{ user.firstname }} {{ user.lastname }}</span>
            <button type="submit" value="{{ user.id }}" name="{{ label }}"> {{ label }} </button>
        </li>
    {% endfor %}

    </ol>
{% endmacro %}

<h3>Example</h3>
<form action="">
    {{ input("a", "", "text") }}
    {{ input("b", "", "text") }}
    {{ input("c", "Ok", "submit") }}
</form>

<ol>
    {% for entry in history %}
        {% set a = entry.first %}
        {% set b = entry.second %}

        <li>
            <p>{{ a }} ⋅ {{ b }} = {{ a*b }}</p>
            <p>{{ a }}² + {{ b }}² = {{ a*a + b*b }}</p>
            <p>{{ fact(a) }}</p>
        </li>

    {% endfor %}
</ol>

<form action="">
    <h3>Active Users</h3>
    {{ print_users(users, true) }}

    <h3>Inactive Users</h3>
    {{ print_users(users, false) }}
</form>

</body>
</html>

