<html>
<head>

</head>
<body>

{% macro fact(n) %}
    {% if n == 1 %}
        <span>{{ n }}</span>
    {% else %}
        <span>{{ n }} * {{ fact (n - 1) }}</span>
    {% endif %}
{% endmacro %}

{% macro input(name, value, type) %}
    <input type="{{ type }}" name="{{ name }}" value="{{value}}">
{% endmacro %}


{% macro print_users(users, active) %}
    <ol>

    {% set label = "Deactivate" %}
    {% if not active %}
        {% set label = "Activate" %}
    {% endif %}

    {% for user in users if user.active == active %}

        <li style="margin: 10px 0;">
            {{ user.firstname }} {{ user.lastname }} <br>
            <button style="margin: 3px 0" type="submit" value="{{ user.id }}" name="{{ label }}"> {{ label }} </button>
        </li>

    {% endfor %}

    </ol>
{% endmacro %}


<form>
    {{ input("a", "", "text") }}
    {{ input("b", "", "text") }}
    {{ input("c", "Ok", "submit") }}
</form>


<ol style="list-style-type: none;">
    {% for entry in history %}
        {% set a = entry.first %}
        {% set b = entry.second %}

        <li style="margin: 10px 0;">
            {% if a*b > 0 %}
                <span style="color: green;">
            {% else %}
                <span style="color: red;">
            {% endif %}

            {{ a }} * {{ b }} = {{ a*b }}

            </span>
            <br/>
            {{ a }}² + {{ b }}² = {{ a*a + b*b }}
            <br/>
            {{ fact(a) }}
        </li>
    
    {% endfor %}
</ol>

<form>
<h3>Active Users</h3>
{{ print_users(users, true) }}

<h3>Inactive Users</h3>
{{ print_users(users, false) }}
</form>

</body>
</html>

